html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box; /* Aplica a todos los elementos */
}

body {
    font-family: 'Lato', 'Raleway', 'Roboto', sans-serif;
}






