/* Estilo general */
html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: #ededed;
    margin: 0;
    font-family: 'Lato', 'Raleway', 'Roboto', sans-serif;
}

/* Contenedor principal */
.Descripcion {
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre los elementos */
    align-items: flex-start; /* Alinea los elementos al inicio verticalmente */
    padding: 20px;
    box-sizing: border-box;
    gap: 20px; /* Espacio entre columnas */
}

/* Contenedor del slider y las miniaturas */
.Left-content {
    width: 50%; /* Ocupa el 50% del ancho disponible */
    display: flex;
    flex-direction: column; /* Alinea los elementos verticalmente */
    justify-content: center; /* Centra los elementos verticalmente */
    align-items: center; /* Centra los elementos horizontalmente */
    padding: 20px;
    box-sizing: border-box; /* Incluye el padding en el ancho total */
}

/* Elementos hijos de .Left-content */
.Left-content > * {
    width: 100%; /* Hace que los elementos hijos ocupen todo el ancho disponible */
    margin-bottom: 1em; /* Espaciado entre los elementos */
    text-align: center;
}

/* Estilo para la descripción */
.Description-text {
    width: 50%; /* Ocupa el 50% del ancho disponible */
    padding: 1.25em;
    text-align:center;
    margin: 4em;
    box-sizing: border-box; /* Incluye el padding en el ancho total */
    margin-top: 0;
}

.Description-text p {
    font-size: large;
    line-height: 1.5;
    text-align:justify;
}

/* Estilo para el logo */
#Logo-subpage {
    max-width: 12vw;
    height: auto;
    display: block;
}

/* Estilo para la barra superior */
.top_sub-page {
    margin: 0.25em 1em;
    width: 100%;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ededed;
    margin-bottom: 2em;
}

.title-logo {
    margin: 0.25em 1em;
    width: 100%;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.title-logo h1{
    color: rgb(0, 49, 21);
    text-align: center;
    margin-left: 20px;
}

#Logo-enterpice {
    display: flex;
    justify-content: flex-end; /* Alinea el logo hacia la derecha */
    width: 50%; /* Ajusta el ancho según sea necesario */
}

.Logo-s {
    max-width: 15em;
    height: auto;
    margin-right: 5em; /* Espacio del logo al borde derecho */
}


#path {
    display: flex;
    align-items: center;
    margin-right: auto;
}

/* Estilo para el botón */
.Coti-button {
    background-color: #9ec246; /* Verde */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px; /* Bordes redondeados */
}

/* Efecto hover */
.Coti-button:hover {
    background-color: #45a049; /* Verde más oscuro */
}

#path p, #path a {
    margin: 0 5px; /* Espacio entre los elementos */
    color: rgb(0, 49, 21);
    text-decoration: none;
    font-size: medium;
}

.technical-specs {
    margin: 40px auto;
    max-width: 90%;
    font-family: 'Lato', sans-serif;
}

.technical-specs h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.technical-specs table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    background-color: #fff;
}

.technical-specs thead tr {
    background-color: #333;
    color: white;
}

.technical-specs th, 
.technical-specs td {
    padding: 8px;
    vertical-align: middle;
}

.technical-specs th {
    text-align: left;
}

.technical-specs th:last-child, 
.technical-specs td:last-child {
    text-align: center;
}

.technical-specs tbody tr {
    border-bottom: 1px solid #ddd;
}

.technical-specs tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.technical-specs .btn-ficha {
    padding: 8px 15px;
    text-decoration: none;
    font-size: 0.9em;
    display: inline-block;
    background-color:#9ec246;
    color: white;
    border-radius: 5px;
}

.technical-specs td ul {
    margin: 0;
    padding-left: 20px;
}

.technical-specs td ul li {
    margin-bottom: 5px;
}

